<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-info" style="background-image: url(./assets/img/poisson3.jpg)">
              <h4 class="card-title">Bienvenue</h4>
              <p class="card-category">welcome to our application</p>
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title">
                      <h2>UN Jour Un Poisson</h2>
                      <p>
 notre application permet de connaître les poissons décomptés par pêche électrique dans une rivière. La source de données est : Informations sur les Milieux Aquatiques pour la Gestion Environnementale (IMAGE). Il s'agit des données de taille des poissons pêchés au moyen de pêches électriques. Elles proviennent essentiellement de l'AFB (anciennement ONEMA, anciennement CSP)
                      </p>
                      <p>
                       la carte permet de  connaître les lieux où ont été effectuées des pêches électriques. A partir d'une 20 espèces espèces de poissons, l'API fournit les stations et cours d'eau où ont été pêchés ces poissons. Il est possible de limiter la recherche en entrant une distance bien determinée;
                      </p>
                  </div>
                 
              </div>
          </div>
      </div>
  </div>
  