<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                      facebook
                    </a>
                </li>
                <li>
                    <a>
                        Instagram
                    </a>
                </li>
                <li>
                    <a>
                        Snapshat
                    </a>
                </li>
                <li>
                    <a>
                        About us
                    </a>
                </li>
            </ul>
        </nav>
        
    </div>
</footer>
