<div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="transparent" >
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/pecheelectronique.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
    
</div>


