<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" style="background-image: url(./assets/img/poisson3.jpg)">
                        <p class="card-category"> Enregistrer</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
  <div >
    <div class="row">
      <div class="col-md-6 form group">
        <!-- <input type="hidden" class="form-control" [(ngModel)]="emp.id"> -->
        <input placeholder="First Name" class="form-control" [(ngModel)]="us.firstname" required>
      </div>
      <div class="col-md-6 form group">
        <input placeholder="Last Name" class="form-control" [(ngModel)]="us.lastname" required>
        <br>
      </div>
      <div class="col-md-6 form group">
        <input placeholder="Username" class="form-control" [(ngModel)]="us.username" required>
        <br>
      </div>
      <div class="col-md-6 form group">
        <input placeholder="password" class="form-control" [(ngModel)]="us.password" required>
        <br>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-12 form group">
        <input placeholder="email" class="form-control" [(ngModel)]="us.email" required>
        <br>
      </div>
    </div>
    <div class="row">
        
      </div>
    <div class="row">
      <div class="col-md-6 form group">
        <input placeholder="numeroTelephone" class="form-control" [(ngModel)]="us.numeroTelephone" required>
      </div>
      <div class="col-md-6 form group">
        <input placeholder="Address" class="form-control" [(ngModel)]="us.addressPostal" required>
        <br>
      </div>
      <div class="col-md-6 form group">
        <input placeholder="mot de passe"  type="password" class="form-control" [(ngModel)]="us.motdePasse" required>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form group">
        <button class="btn btn-success btn-block btn-sm" (click)="saveUser(us)"> <i class="fa fa-floppy-o"> SUBMIT
          </i></button>
      </div>
      <div class="col-md-4 form group">
        <button class="btn btn-primary btn-block btn-sm ui" (click)="Reset()"><i class="fa fa-repeat"></i>RESET</button>
      </div>
      <div class="col-md-4 form group">
        <button class="btn btn-danger btn-block btn-sm ui" (click)="cancel()"><i class="fa fa-close"></i>CANCEL</button>
      </div>
    </div>
  </div>
  <div *ngIf="confirmCode" class="row message-row">
    <h3>Please check your email for the validation code and enter it here:</h3>
    <div class="col-lg-4">
      <form (ngSubmit)="validateAuthCode(codeform)" #codeform="ngForm">
        <div class="form-group">
          <label for="code">Code</label>
        <input type="text" name="code" id="code" [(ngModel)] = "code" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Validate Code</button>
      </form>
    </div>
  </div>
  <div *ngIf="codeWasConfirmed" class="row message-row">
    <h3>Verification Code was confirmed, please click <a routerLink="/login">here</a> to login</h3>
  </div>

  
  
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  