<div class="main-content">
  <div class="container-fluid">
<div class="card">
  <div class="card-header card-header-info" style="background-image: url(./assets/img/poisson3.jpg)">
  <h4 class="card-title">MyMap</h4>
  </div>
  <div class="card-body">
        <div id="map">
          <google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [icon]= "marker.icon"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
   
  >
  </map-marker>
  <map-marker
  #newMarkerElem
  *ngFor="let newMarker of newMarkers"
  [icon]= "newMarker.icon"
  [position]="newMarker.position"
  [label]="newMarker.label"
  [title]="newMarker.title"
  [options]="newMarker.options"
  
  >
</map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>

<button class="btn btn-info" (click)="zoomIn()">Zoom in</button>
<button class="btn btn-info" (click)="zoomOut()">Zoom out</button>
<button class="btn btn-info" (click)="logCenter()">Log center</button>
<button class="btn btn-info" (click)="addallMarkers()">Add marker</button>
<button class="btn btn-info" (click)="adnewlMarkers()">Add New marker</button>
        </div>

      </div>
    </div>
  </div>

     
  
