<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" style="background-image: url(./assets/img/poisson3.jpg)">
                        <p class="card-category"> S'identifier</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="jumbotron mx-auto col-md-6 ">
                                <div >
                                  <div class="col-md-6 form group">
                                    <input placeholder="email" class="form-control" [(ngModel)]="email" required>
                                  </div>
                                  <div class="col-md-6 form group">
                                    <input placeholder="password" class="form-control"  type="password" required>
                                  </div>
                                <div >
                                  <div class="col-md-4 form group">
                                    <button class="btn btn-info btn-block btn-sm" (click)="login()"> <i class="fa fa-floppy-o">
                                      </i></button>
                          
                                  </div>
                                </div>
                                
                                
                              </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  