<div class="main-content">
  <div class="container-fluid">
<div class="card">
  <div class="card-header card-header-info" style="background-image: url(./assets/img/poisson3.jpg)">
  <h4 class="card-title">MyMap</h4>
      <p class="card-category"></p>
  </div>

<div class="card-body">
        <div id="map">
            <form oninput="x.value=parseInt(a.value)" >
                <!--  <label> Selectionner la distance maximale desirée:</label> <input type="range" name="range" id="a" min="0" max="100"   /> <br/> -->
                <div>   
                Selectionner la distance maximale desirée: <input type="range" name="range" id="a" min="0" max="500" [(ngModel)]=distance /> <br/> 
                    <input type="button" class="btn btn-warning" value="valider" (click)=getNearLocations() /> <br/>
                </div>
                   <!-- 0<input type="range" id="a" value="50">100 -->
                    <output name="x" for ="a "  ></output>
                    </form>

                    <google-map
                    height="500px"
                    width="100%"
                    [zoom]="zoom"
                    [center]="center"
                    [options]="options"
                    (mapClick)="click($event)"
                  >
                    <map-marker
                      #markerElem
                      *ngFor="let marker of markers"
                      [position]="marker.position"
                      [label]="marker.label"
                      [title]="marker.title"
                      [options]="marker.options"
                      (mapClick)="openInfo(markerElem, marker.info)"
                    >
                    </map-marker>
                  
                    <map-info-window>{{ infoContent }}</map-info-window>
                  </google-map>
                  
                  <button class="btn btn-info" (click)="zoomIn()">Zoom in</button>
                  <button class="btn btn-info" (click)="zoomOut()">Zoom out</button>
                  <button class="btn btn-info" (click)="logCenter()">Log center</button>
                  <button class="btn btn-info" (click)="addMarker()">Add marker</button>
                </div>
                  
              </div>
</div>
  </div>
</div>