<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" style="background-image: url(./assets/img/poisson3.jpg)">
                        <p class="card-category"> View</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div >


                                <div class=" jumbotron mx-auto width: 300px">
                                  <div>
                                    <button class="btn btn-secondary btn-block btn-sm col-md-3 mx-auto width: 200px" (click)="cancel()"><i
                                        class="fa fa-close"></i>CLOSE TABLE</button>
                                  </div><br>
                                  <div class="table table-hover table-borderless text-dark table-secondary col-sm-12 ">
                              
                                  
                                    <th>FIRST NAME</th>
                                    <th>LAST NAME</th>
                                    <th>Numero</th>
                                    <th>adresse</th>
                                    <th>poisson Favoris</th>
                                    <th>EDIT</th>
                                    <th>DELETE</th>
                                    <tr *ngFor="let us of allUsers">
                                      <td>{{us.firstname}}</td>
                                      <td>{{us.email}}</td>
                                      <td>{{us.numeroTelephone}}</td>
                                      <td>{{us.addressPostal}}</td>
                                      <td>{{us.favoriteFish}}</td> 
                                      <td>
                                        <a class="btn">
                                          <i class="fa fa-edit" (click)="editUser(us)"></i>
                                        </a>
                                      </td>
                                      <td>
                                        <a class="btn text-danger" (click)="deleteUser(us.id)">
                                          <i class="fa fa-trash"></i>
                                        </a>
                                      </td>
                                    </tr>
                                  </div>
                                </div>
                              
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  