<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-info" style="background-image: url(./assets/img/poisson3.jpg)">
                <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput >
                                  <output> First name : {{this._auth.getAuthenticatedUser()}} </output>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput >
                                  <output> Last name : {{this._auth.getAuthenticatedUserLasteName()}} </output>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput >
                                  <output> Email : {{this._auth.getAuthenticatedUseremail()}} </output>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput >
                                  <output> Telephone: {{this._auth.getAuthenticatedUseTelephone()}} </output>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput >
                                  <output> Date de Naissance: {{this._auth.getAuthenticatedUseDateNaissace()}} </output>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput >
                                  <output> Role: {{this._auth.getAuthenticatedUserrole()}} </output>

                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder=""></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="submit"   (click)="editUser(this._auth.cognitoUser)" class="btn btn-info pull-right" >Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/avatarpecheurv1.PNG" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">welcome to</h6>
                      <h4 class="card-title">Un jour Un poisson</h4>
                      <p class="card-description">
                          cette application est faite avec bcp d'amour et de patience, follow us
                      </p>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
